<div align="right">
    <button class="btn btn-info" id="btnCad" (click)="showForm = !showForm">Registrar Ponto Carente</button>
</div>


<form *ngIf="showForm" [formGroup]="needyPointForm" (ngSubmit)="add()">
    <label>
        Descrição:
        <input type="text" formControlName="description">
    </label>

    <div class="form-group" formGroupName="address">
        <label>
            Cep:
            <input type="number" formControlName="postalCode">
        </label>
        <label>
            Rua:
            <input type="text" formControlName="street">
        </label>
        <label>
            Número:
            <input type="number" formControlName="number">
        </label>
        <label>
            Bairro:
            <input type="text" formControlName="district">
        </label>
    </div>

    <label>
        Observação:
        <input type="text" formControlName="obs">
    </label>

    <div align="right">
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </div>
</form>

<p align="center">PONTOS CARENTES</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>DESCRIÇÃO</th>
            <th>ENDEREÇO</th>
            <th>OBSERVAÇÃO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let needyPoint of needyPoints">
            <td>{{needyPoint.description}}</td>
            <td>{{needyPoint.address.street}}, {{needyPoint.address.number}}, {{needyPoint.address.district}}</td>
            <td>{{needyPoint.obs}}</td>
            <td>
                <button class="btn btn-primary" (click)="delete(needyPoint)">Remover</button>
            </td>
        </tr>
    </tbody>
</table>
