<div align="right">
    <button class="btn btn-info" id="btnCad" (click)="showForm = !showForm">Registrar Doação</button>
</div>


<div *ngIf="showForm">
    <form action="" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputCategory">Categoria:</label>
                <input type="text" class="form-control" id="inputCategory" name="category" placeholder="Digite a categoria do item:" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputResponsable">Item:</label>
                <input type="text" class="form-control" id="inputItem" name="item" placeholder="Digite o nome do item:" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescription">Descrição:</label>
                <input type="textarea" class="form-control" id="inputDescription" name="description" placeholder="Digite uma breve descrição do ítem:" />
            </div>
        </div>
    </form>
    <p></p>
</div>

<p align="center">DOAÇÕES</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>CATEGORIA</th>
            <th>ITEM</th>
            <th>DESCRIÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donation of donations">
            <td>{{donation.category}}</td>
            <td>{{donation.name}}</td>
            <td>{{donation.description}}</td>
        </tr>
    </tbody>
    </table>