<div align="right">
    <button class="btn btn-info" id="btnCad" (click)="showForm = !showForm">Registrar Doação</button>
</div>


<form *ngIf="showForm" [formGroup]="donationForm" (ngSubmit)="addDonation()">
    <label>
        Categoria:
        <input type="text" formControlName="category">
    </label>
    <label>
        Nome:
        <input type="text" formControlName="name">
    </label>
    <label>
        Descrição:
        <input type="text" formControlName="description">
    </label>
</form>

<p align="center">DOAÇÕES</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>CATEGORIA</th>
            <th>ITEM</th>
            <th>DESCRIÇÃO</th>
            <th>ENCAMINHADO PARA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donation of donations">
            <td>{{donation.category}}</td>
            <td>{{donation.name}}</td>
            <td>{{donation.description}}</td>
            <td *ngIf="donation.forwardedTo != null">{{donation.forwardedTo}}</td>
            <td *ngIf="donation.forwardedTo == null">
                 <form action="forwardTo" method="post">
                    <select *ngFor='let institution of institutions' class="custom-select col-md-3">
                        <option name="institution" value="institution.id">{{ institution.name }}</option>
                    </select>
                    <button type="submit">Encaminhar</button>
                 </form>
            </td>
        </tr>
    </tbody>
    </table>