<div align="right">
    <button class="btn btn-info" id="btnCad" (click)="showForm = !showForm">Cadastrar Instituição</button>
</div>


<form *ngIf="showForm" [formGroup]="institutionForm" (ngSubmit)="addInstitution()">
    <label>
        Nome:
        <input type="text" formControlName="name">
    </label>
    <label>
        Sigla:
        <input type="text" formControlName="initials">
    </label>
    <label>
        Descrição:
        <input type="text" formControlName="description">
    </label>
    
    <div class="form-group" formGroupName="contact">
        <label>
            Telefone:
            <input type="number" formControlName="phone">
        </label>
        <label>
            Email:
            <input type="email" formControlName="email">
        </label>
    </div>
    
    <div class="form-group" formGroupName="address">
        <label>
            Rua:
            <input type="text" formControlName="street">
        </label>
        <label>
            Número:
            <input type="number" formControlName="number">
        </label>
        <label>
            Cep:
            <input type="number" formControlName="postalCode">
        </label>
        <label>
            Bairro:
            <input type="text" formControlName="district">
        </label>
    </div>

    <label>
        Observação:
        <input type="text" formControlName="obs">
    </label>

    <div align="right">
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </div>
</form>

<p align="center">INSTITUIÇÕES SOCIAIS</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>SIGLA</th>
            <th>CONTATOS</th>
            <th>ENDEREÇO</th>
            <th>RESPONSÁVEL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let institution of institutions">
            <td>{{institution.name}}</td>
            <td>{{institution.contact.phone}} - {{institution.contact.email}}</td>
            <td>{{institution.address.street}}, {{institution.address.number}}, {{institution.address.district}}</td>
            <td>{{institution.responsible.name}}</td>
        </tr>
    </tbody>
</table>